.my-card {
    transition: 3s;
    border-radius: 10px;
}

.my-card:hover {
    box-shadow: 0 0 50px;
    transform: scale(1.5);
}

.btn1 {
    font-size: 10px;
    background-color: green;
    color: white;
    border: none;
    border-radius: 5px;
    outline: none;
}